body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
}

header {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    position: relative; /* Make the gallery container relative for absolute positioning */
}

.photo {
    margin: 10px;
    text-align: center;
    position: relative; /* Make each photo container relative for absolute positioning */
}

.photo img {
    width: 75%; /* Set the width to 75% of the container */
    max-height: 75%; /* Maintain aspect ratio */
}

/* Container for arrow and text */
#backContainer {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 0 20px; /* Increase the clickable area for better user experience */
}

/* Navigation arrow */
#backArrow {
    opacity: 1; /* Initially visible */
    transition: opacity 0.3s ease;
}

#backContainer:hover #backArrow {
    opacity: 0; /* Hide the arrow on hover */
}

/* Styles for the "Back" text */
#backText {
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Choose your text color */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

#backContainer:hover #backText {
    opacity: 1; /* Show the text when container is hovered */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
}
