body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
}

header {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 20px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.photo {
    margin: 10px;
    text-align: center;
}

.photo img {
    width: 75%; /* Set the width to 75% of the container */
    max-height: 75%; /* Maintain aspect ratio */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
}
/* New styles for the gallery page */
.gallery .photo img {
    width: 75%; /* Set the width to 75% of the container on the gallery page */
    max-height: 100%; /* Maintain aspect ratio */
