body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* White background */
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    position: relative; /* Make the gallery container relative for absolute positioning */
}

.photo {
    margin: 10px;
    text-align: center;
    position: relative; /* Make each photo container relative for absolute positioning */
}

.photo img {
    width: 75%; /* Set the width to 75% of the container */
    max-height: 100%; /* Maintain aspect ratio */
}

/* Styles for the "Back" text */
#backText {
    position: fixed;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    font-weight: bold;
    color: #333; /* Choose your text color */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #fff;
    color: #000;
}

/* New styles for the gallery page */
.gallery .photo img {
    width: 75%; /* Set the width to 75% of the container on the gallery page */
    max-height: 100%; /* Maintain aspect ratio */
}
