/* style.css */
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#image-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#jiggleableImage {
    width: 300px; /* Set the initial width of the image */
    height: auto;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
}
